html,
body{
 min-width: 960px;
 min-width: 960px;
 font-size: 16px;
 line-height: 1.5;
 font-family: "Cuprum", "Arial", sans-serif;
 color: #000;
 outline: solid 1px red;
}
.main-header{
  background-color: #f1f5f7;
    padding-bottom: 65px;
}
.container{
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  position: relative;
}
.clearfix::after{
  content:"";
  display: block;
  clear: both;
}
.header-bar{
  background-color: #293449;
  color: #fff;
}
.header-logo{
  width: 220px;
  color: inherit;
  text-decoration: none;
  font-size: 24px;
  line-height: 1;
  padding-top: 9px;
  box-sizing: border-box;
  text-align: center;
  background-color: #ee3643;
  text-transform: uppercase;
  box-shadow: 0 5px 0 #b52933;
}
footer .header-logo{
  min-height: 63px;
  color:#fff;
  padding-top: 18px;
}
.header-logo:hover{
  background-color: #ca2c37;
  box-shadow: 0 5px 0 #9a212a;
}
.header-logo:active{
  background-color: #ba2732;
  box-shadow: 0 5px 0 #8e1e26;
}
.header-search{
  width: 270px;
}
.header-search input{
  height: 100%;
  width: 100%;
  border: none;
  padding: 12px 10px 12px 49px;
  line-height: 18px;
  font-size: 17px;
  font-family: inherit;
  outline: none;
  background-color: inherit;
  color: inherit;
 }
 .header-search input::-webkit-input-placeholder {
  color: #fff;
}
.header-search input::-moz-placeholder {
  color: #fff;
}
.header-search input::-ms-input-placeholder {
  color: #fff;
}
.header-search input:hover{
  background-color: #212a3a;
}
.header-search input:focus{
  background-color: #ffffff;
  color:#000000;
}
.header-search input:focus::-webkit-input-placeholder {
 color: #333333;
 color:#000000;
}
.header-search input:focus::-moz-placeholder {
 color: #333333;
 color:#000000;
}
.header-search input:focus::-ms-input-placeholder {
 color: #333333;
 color:#000000;
}
.header-logo,
.header-favorite,
.header-search,
.header-cart,
.header-order{
 float: left;
 height:42px;
}
.header-favorite,
.header-cart,
.header-order{
  display: block;
  box-sizing: border-box;
  width: 150px;
  text-decoration: none;
  color: inherit;
  padding-top: 12px;
  padding-left: 12px;
  font-size: 17px;
  line-height: 18px;
}
.header-favorite{
  padding-right: 10px;
  padding-left: 45px;
}
.header-cart{
  padding-right: 10px;
  padding-left: 50px;
}
.header-favorite:hover,
.header-cart:hover{
  background-color: #212a3a;
  color: rgba(255, 255, 255, 0.6);
}
.header-favorite:active,
.header-cart:active{
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}
.header-order{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: #63a63e;
}
.header-order:hover{
  background-color: #5fbb2d;
  color: rgba(255, 255, 255, 0.51);
}
.header-order:active{
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}
.user-plate{
  display: inline-block;
  margin-left: 0px;
  margin-top: 46px;
}
.user-plate .user-name{
  display: block;
  text-decoration: none;
  color:black;
}
.user-plate .orders{
  display: inline-block;
}
.user-plate .cabinet{
  display: inline-block;
}
.header-content{
  display: flex;
  margin-top: 46px;
  align-items: flex-start;
  background-color: #f1f5f7;
}
.header-description{
  margin-top: 0;
  margin-bottom: 0;
  width: 320px;
  padding-left: 53px;
  padding-right: 33px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.4375;
  font-style: italic;
  color: #ee3643;
}
.header-contact{
  width: 270px;
  text-align: center;

}
.header-phone{
  display: block;
  padding: 9px 9px;
  font-size: 21px;
  line-height: 1;
  color: #e9292a;
  text-decoration: none;
  border: 3px solid #fff;
  box-sizing: border-box;
}
.header-address{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin-top: 3px;
}
.auth{
  display: flex;
  width: 350px;
  justify-content: flex-end;
}
.header-login,
.header-register{
  padding: 12px 25px;
  font-size: 21px;
  line-height: 1px;
  background-color: #fff;
  color: #000;
  margin-right: 10px;
  text-decoration: none;
}
.header-nav{
  min-height: 55px;
  margin-top: 43px;
  box-shadow: 0 5px 0 #293449;
}
.header-nav ul{
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style: none;
  font-size: 0;
  display: flex;
  box-sizing: border-box;
  background-color: #32425c;
  }
.header-nav li{
  vertical-align: top;
  list-style: none;
  font-size: 17px;
  line-height: 17px;
  box-sizing: border-box;
}
.header-nav a{
  text-decoration: none;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 19.5px;
  padding-bottom: 19.5px;
  color: #ffffff;
}
.header-nav a:hover{
  background-color: #293449;
}
.header-nav a:active{
  background-color: #1d2739;
  color: #8e939c;
}

.main-layer{
  background-color: #ffffff;
}
.features{
  font-size: 24px;
  padding-bottom: 53px;
}
.feature{
  width:300px;
  min-height: 123px;
  color: black;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-left: 23px;
  float: left;
  box-sizing: border-box;
  color: #fff;
}
.item-1{
  background-color: #f6b22d;
  position: relative;
}
.item-1 b::after{
  content: "";
  width:44px;
  height: 65px;
  position: absolute;
  right: 43px;
  top:30px;
  background: url(../img/item1.png) no-repeat;
}
.item-1 b::before{
  content: "";
  width:60px;
  height: 59px;
  position: absolute;
  right: 0px;
  top:0px;
  background: url(../img/new.png) no-repeat;
}
.item-2{
  background-color: #4aafde;
  position: relative;
}
.item-2 b::after{
  content: "";
  width:75px;
  height: 61px;
  position: absolute;
  right: 29px;
  top:30px;
  background: url(../img/item-2.png) no-repeat;
}
.item-3{
  background-color: #cc79d1;
  margin-right: 0px;
}
.item-3 b::after{
  content: "";
  width:78px;
  height: 62px;
  position: absolute;
  right: 42px;
  top:30px;
  background: url(../img/item-3.png) no-repeat;
}
.item-4{
  width: 620px;
  height: 266px;
  background:url(../img/builder.jpg)  no-repeat center top ;
  float: left;
  margin-right: 20px;
  background-color: #85d179;
  position: relative;
  padding-top: 25px;
}
.item-4 h2{
  text-transform: uppercase;
  color: #fff;
  margin:0;
line-height: 0px;
  display: block;
  width: 217px;
  line-height: 15px;
  padding-bottom: 10px;
}
.item-4 span{
display: inline-block;
  font-size: 24px;
  line-height: 24px;
}
.item-4 .btn{
  width: 196px;
  height: 38px;
  background-color: #ee3643;
  position: absolute;
  left:25px;
  bottom: 23px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.item-4 .btn:hover{
background-color:#ca2c37;
color: #f8e3e4;
}
.item-4 .btn:active{
  background-color:#ba2732;
  color: #e3a9ad;
}
.item-5{
  background-color: #85d179;
  margin-right: 0px;
  position: relative;
}
.item-5 b::after{
  content: "";
  width:59px;
  height: 72px;
  position: absolute;
  right: 43px;
  top:26px;
  background: url(../img/item-5.png) no-repeat;
}
.item-6{
  position: relative;
  background-color: #f6b22d;
  margin-right: 0px;
  margin-right: 0px;
}
.item-6 b::after{
  content: "";
  width:78px;
  height: 63px;
  position: absolute;
  right: 30px;
  top:33px;
  background: url(../img/item-6.png) no-repeat;
}
.feature b{
box-sizing: border-box;
}
.feature .btn{
  display: block;
  margin-top: 4px;
  padding-top: 10px;
  box-sizing: border-box;
  width: 135px;
  min-height: 38px;
  background-color:rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  border-radius: 2px;
}
.feature .btn:hover{
background-color:rgba(0, 0, 0, 0.2);
}
.feature .btn:active{
background-color:rgba(0, 0, 0, 0.3);
}

.item-header{
  background-color: #f7f3ec;
  color: black;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 26px;
  position: relative;
  margin-bottom: 20px;
}
.item-header h3{
  display: inline-block;
  font-family: "Cuprum";
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0px;
}
.main-button{
  box-sizing: border-box;
  float: right;
  vertical-align: top;
  display: inline-block;
  background-color: #ee3643;
  text-decoration: none;
  color:#ffffff;
  width:254px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
box-sizing: border-box;
  border-radius: 2px;
}
.main-button:hover{
background-color:#ca2c37;
color: #f8e3e4;
}
.main-button:active{
  background-color:#ba2732;
  color: #e3a9ad;
}
.pro{
  margin-top: 25px;
  padding-bottom: 85px;
}
.producers{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.producer-block{
  height:145px;
  width:220px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border:1px solid rgba(0, 0, 0, 0.3);
}
.producer-block img{
align-self: center;
}
.producer-block:hover{
  box-shadow: 0px 10px 25px -5px #34495e;
}
.producer-block:active{
opacity: 0.5;
box-shadow: 0px 10px 25px -8px rgba(52, 73, 94, 0.7);

}
.service{
  color: black;
  background-color: #f2f6f8;
}
.service .container{
  min-height: 522px;
}
.advert{
  float:left;
  width:360px;
  margin-right: 10px;
  margin-top: 29px;
}
.advert h3{
}
.advert p{
  font-size: 13px;
  line-height: 24px;
}
.cervice-list{
  float:left;
  clear: right;
  clear: left;
  min-width:240px;
  margin-top: 51px;
}
.cervice-list a{
  box-sizing: border-box;
  background-color: #32425c;
  color: #fff;
  min-height: 62px;
  font-size: 21;
  line-height: 30px;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  box-shadow: inset -30px 0 50px -30px #000;
  text-decoration: none;
  display: block;
  padding-left: 24px;
  padding-top: 11px;
}

.cervice-list .active{
  background-color: #fff;
  color: #32425c;
  border-bottom: none;
  border-top: none;
  box-shadow: inset -30px 0 50px -40px #000;
}
.cervice-list a:hover{
background-color: #293449;
border-bottom: 1px solid #293449;
border-right:none;
}
.cervice-list .active:hover{
background-color: #fff;
border-bottom: 0px;
}
.delivery{
  float:left;
  width: 249px;
  margin-left: 80px;
  font-size: 13px;
  line-height: 24px;
  margin-top: 47px;
}
.image{
  float: left;
  position: absolute;
  right: 10px;
  bottom: -5px;
}
.about-us{
float:left;
color: black;
width:450px;
font-size: 13px;
line-height: 24px;
}
.about-us ul{
  margin: 0;
  padding: 0;
}
.about-us li{
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  padding-left: 36px;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
}
.about-us li::before{
  content: "";
  position: absolute;
  top: 15px;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color:#fb565a;
}
.details{
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  margin-top: 31px;
  margin-bottom: 85px;
  background-color: #ee3643;
  text-decoration: none;
  color:#ffffff;
  width:254px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 7px;
  border-radius: 2px;
}
.details:hover{
background-color:#ca2c37;
color: #f8e3e4;
}
.details:active{
  background-color:#ba2732;
  color: #e3a9ad;
}
.map{
  float:right;
  margin-top:0;
  color: black;
  font-size: 13px;
  line-height: 24px;
}
.map .details{
  margin-top: 29px;
  width:300px;
}
.breadcrumbs{
  margin-bottom: : 60px;
  font-size: 0;
  position: relative;
}
.breadcrumbs a{
  box-sizing: border-box;
color: #222222;
display: inline-block;;
font-size: 13px;
line-height: 18px;
text-transform: uppercase;
text-decoration: none;
padding-right: 40px;
position: relative;
height: 60px;
padding-top: 20px;

}
.breadcrumbs a::after{
  content: "";
  position: absolute;
  top: 22.5px;
  right: -5px;
  width: 30px;
  height: 30px;
  background: url(../img/.icon-right.png) no-repeat;
}
.breadcrumbs a:first-child{
  background: url(../img/..icon-home.png) no-repeat center;
}
.breadcrumbs span{
  font-family: "PTSansRegular";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.container h1{
  display: block;
  margin-top: -10px;
  color: black;
  background-color: #f2f6f8;
  height:88px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left: 30px;
  box-sizing: border-box;
  color: #32425c;
}
.aside-left{
  float: left;
  width: 220px;
    height: 750px;
}
.header-left{
  height: 40px;
  background-color: #f7f3ec;
  margin-top: -20px;
  color: black;
}
.range-filter{
    padding-top:10px;
    width:220px;
    margin:auto;
    margin-bottom:10px;
}
.range-controls{
    position:relative;
    height:80px;
    margin-bottom:15px;
    padding:0 30px;
    background:#f7f3ec;
    border-radius:5px;
    overflow:hidden;
}
.scale{
    margin-top:39px;
    height:2px;
    background:#d7dcde;
}
.bar{
    height:2px;
    background:#00ca74;
    position: relative;
    left:-30px;
}
.toggle{
    position:absolute;
    top:30px;
    left:10px;
    width:4px;
    height:4px;
    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}
.min-toggle{
    left:30px;
}
.max-toggle{
    left:150px;
}
.price-controls{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}
.min-price,
.max-price{
    width:75px;
    padding:8px 10px;
    border:none;
    background:#f7f3ec;
    font-size:16px;
    font-family:"Tahoma", sans-serif;
    text-align:center;
    color:#283136;
    border-radius:5px;
    color:#000;
}
fieldset {
border-top:none;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
border-left: none;
border-right: none;
margin-left: 0;
margin-top: 10px;
padding-left: 0;
padding-top: 10px;
box-sizing: border-box;
}
fieldset legend {
color: #000000;
font-size: 17px;
text-transform: uppercase;

}
.checkbox{
  position: relative;
}
.checkbox input{
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border:0;
  clip-path:inset(100%);
  rect:(0 0 0 0);
}
.checkbox label{
  padding-left: 40px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
  line-height: 50px;
}
.checkbox label::before{
content: "";
position: absolute;
top: 12px;
left: 0px;
width: 20px;
height: 20px;
margin-right: 8px;
vertical-align: middle;
border: 3px solid #ffffff;
box-shadow: 0 0 0 3px #bdc3c7;
border-radius: 2px;
}
.checkbox label::after{
content: "";
position: absolute;
visibility: hidden;
top: -3px;
left: 1px;
width:40px;
height:40px;
background:url(../img/Checkmark-48.png) no-repeat center;
}
.checkbox input:checked+label::after{
  visibility: visible;
}
.checkbox label:hover{
  opacity: 0.8;
}
.checkbox label:active{
  opacity: 0.5;
}
input[type="checkbox"]:disabled + label{
  opacity: 0.4;
}
.radio label{
  display: block;
  line-height: 50px;
}
.radio{
  position: relative;
}
.radio input{
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border:0;
  clip-path:inset(100%);
  rect:(0 0 0 0);
}
.radio label{
  padding-left: 40px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
  line-height: 50px;
}
.radio label::before{
content: "";
position: absolute;
top: 12px;
left: 0px;
width: 20px;
height: 20px;
margin-right: 8px;
vertical-align: middle;
border: 3px solid #ffffff;
box-shadow: 0 0 0 3px #bdc3c7;
border-radius: 50%;
}
.radio label::after{
content: "";
position: absolute;
visibility: hidden;
top: 18px;
left: 7px;
width:12px;
height:12px;
background-color: #bdc3c7;
border-radius: 50%;
}
.radio input:checked+label::after{
  visibility: visible;
}
.radio label:hover{
  opacity: 0.8;
}
.radio label:active{
  opacity: 0.5;
}
input[type="radio"]:disabled + label{
  opacity: 0.4;
}
.aside-right{
  float:right;
  width: 700px;
}
.sub-aside{
  background-color: #f7f3ec;
  display: flex;
  justify-content:flex-start;
  height: 38px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
}
.sub-aside a{
  text-decoration: none;
  padding-top: 10px;
  height: 15px;
}
.sort-bar{
padding-left: 30px;
padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
margin-right: 114px;
}
.price{
margin-right: 72px;
  border-bottom: 2px #ee3643 dotted;
  color:red;
  border: transparent;
  padding-top: 10px;
}
.type{
  margin-right: 64px;
  border-bottom: 2px #ee3643 dotted;
    color: rgba(0, 0, 0, 0.3);
}
.function{
  border-bottom: 2px #ee3643 dotted;
    color: rgba(0, 0, 0, 0.3);
}
.type::after{
  content: "";
position: absolute;
top: 95px;
right: 75px;
border-top:9px solid transparent;
border-left: 9px solid transparent;
border-bottom: 8px solid #ee3643;
border-right: 9px solid transparent;
}
.function::after{
  content: "";
position: absolute;
top: 103px;
right: 30px;
border-top:8px solid #c6c2bd;
border-left: 9px solid transparent;
border-bottom: 9px solid transparent;
border-right: 9px solid transparent;
}
.sub-aside a:hover{
color:#000000;
border-bottom: 2px #ee3643 solid;
}
.sub-aside a:active{
color:#ee3643;
text-decoration: none;
}
.catalog-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item{
  margin-top: 10px;
  position: relative;
  border: 1px solid #e5e5e5;
  width:220px;
  height: 318px;
  z-index: 1;
  box-sizing: border-box;
}

.catalog-item a{
  color: black;
}
.catalog-item img{
  display: block;
  margin-left: 40px;
  margin-top: 27px;
 position: relative;
}
.catalog-item h3{
  display: block;
  width:156px;
  margin-left: 33px;
  margin-top: 35px;
  text-align: center;
}
  .catalog-item span{
  display: block;
  width:140px;
  text-align: center;
  margin-left: 43px;
  text-decoration: line-through;
  opacity: 0.5;

}
.actual{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 37px;
  padding-right: 18px;
  height: 38px;
  background-color: #ee3643;
  margin-left: 43px;
  margin-top: 0;
  text-align: center;
  border-radius: 2px;
  padding-top: 8px;
  vertical-align: bottom;
}
.actual::after{
  content: "";
position: absolute;
top: 0px;
right: -17px;
border-top:19px solid transparent;
border-bottom: 19px solid transparent;
border-left: 18px solid #ee3643;
}
.marked::after{
content: "";
width:65px;
height: 65px;
position: absolute;
right: -5px;
top:0px;
background: url(../img/new-flag.png) no-repeat;
  }
.button{
  z-index: 2;
  background-color: red;
  position: absolute;
  left:0px;
  top:-303px;
  width: 218px;
  height: 180px;
  background-color: #ffffff;
  position: relative;
  padding-left: 42px;
  box-sizing: border-box;
  visibility:hidden;
}
 .choice{
   display: inline-block;
   border-radius: 2px;
   padding-top: 7px;
   padding-bottom: 7px;
   font-size: 18px;
   text-transform: uppercase;
}
 .top{
     margin-bottom: 12px;
     background-color: #63a63e;
     padding-left: 35px;
     padding-right: 27px;
     color:#fff;
     border:none;
     border-bottom: 3px solid #367315;
     position: relative;
}
.top::before{
  content:"";
  width: 16px;
  height: 17px;
  background: url(../img/.icon-basket.png) no-repeat center;
  position: absolute;
  left:9px;
}
.top:hover{
  background: #5fbb2d;
}
:hover.top::before{
  content:"";
  width: 16px;
  height: 17px;
  background: url(../img/.icon-basket-2.png) no-repeat center;
  position: absolute;
  left:9px;
}
.bottom:hover{
  border-color:#32425c;
}
.catalog-item:hover{
  box-shadow: 0px 10px 25px -5px #34495e;
}
.top:active{
  background: #518534;
  border-color: #518534;
}
.bottom:active{
  opacity: 0.5;
}
.top::before:hover{
  opacity: 0.5;
}
.bottom{
  display: inline-block;
  padding-left: 17px;
  padding-right: 17px;
  background-color: #ffffff;
  border:3px solid #63a63e;
}
article:hover .button {
  visibility: visible;
}
.btn-buy{
  display: block;
  box-sizing: border-box;
  height: 40px;
  width: 135px;
  background-color: #63a63e;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  padding-left: 50px;
  padding-top: 12px;
}
.btn-fav{
  display: block;
  box-sizing: border-box;
  height: 40px;
  width: 135px;
  background-color: white;
  border: 1px solid green;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  padding-left: 37px;
  padding-top: 12px;
}
.btn-buy a {
color:#eaf3e5;
}
.paginator {
    width: 300px;
    margin-left: -10px;
    margin-top: 55px;
    margin-bottom: 60px;
    padding: 10px;
}
.paginator a,
.paginator span {
    display: inline-block;
    min-width: 20px;
    height: 40px;
    border-radius: 2px;
    padding: 0 10px;
    margin-right: 11px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;
    color: #222222;
    border: 1px solid rgba(229, 229, 229, 0.5);
    background: #ffffff;
}
.paginator .curent{
  background-color: #ee3643;
  color: #fff;
  border-color: transparent;
}
.paginator a:hover{
  border-color: rgba(0, 0, 0, 0.2);
}
.paginator a:active{
border-color: rgba(255, 0, 0, 1);
}
.about{
  background-color: #f2f6f8;
}
.about p{
  font-size: 14px;
  line-height: 24px;
  font-family: inherit;
}
.footer-top{
  background-color: #32425c;
}
.layout-left{
  float:left;
  width: 300px;
}
.layout-right{
  float:right;
  width: 570px;
}
.layout-left a{
  float: left;
}
.footer-contacts{
  float: left;
  color:#ffffff;
  width:350px;

  margin-top:30px;
  font-size: 18px;
  line-height: 24px;
}
.footer-top-list{
  float: right;
  margin-top: 35px;
}
.footer-top-list a{
  text-decoration: none;
    color:#ffffff;
    margin-right: 55px;
    font-size: 18px;
    line-height: 24px;
}
.footer-top-list a:last-child{
  margin-right: 0px;
}
.footer-top-list a:hover{
  text-decoration: underline;
}
.footer-top-list a:active
{
text-decoration: underline;
color: rgba(255, 255, 255, 0.5);
}

.footer-bottom-list{
float: right;
margin-top: 35px;
margin-bottom: 73px;
}
.footer-bottom-list a{
  text-decoration: none;
    color:#bba174;
      margin-right: 55px;
      font-size: 18px;
      line-height: 24px;
}
.footer-bottom-list a:last-child{
  margin-right: 0px;
}
.footer-bottom-list a:hover{
  text-decoration: underline;
}
.footer-bottom-list a:active
{
text-decoration: underline;
color: rgba(187, 161, 116, 0.5);
}
.footer-bottom{
  background-color: #293449;
}
.social-btn{
  border-bottom: 30px solid #212a3a;
  border-right: 40px solid #212a3a;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
.social-btn-vk::before{
  content: "";
  width:40px;
  height: 40px;
  position: absolute;
  right: -50px;
  top:17px;
  background: url(../img/.icon-vk.png) no-repeat;
}
.social-btn-fb::before{
  content: "";
  width:40px;
  height: 40px;
  position: absolute;
  right: -53px;
  top:15px;
  background: url(../img/.icon-facebook.png) no-repeat;
}
.social-btn-inst::before{
  content: "";
  width:40px;
  height: 40px;
  position: absolute;
  right: -52px;
  top:15px;
  background: url(../img/.icon-instagramm.png) no-repeat;
}
.footer-copyright{
  float:left;
  color:#ffffff;
  font-size: 16px;
  line-height: 18px;
  margin-top: 37px;
  margin-bottom: 35px;
  margin-right: 100px;

}
.developer{
  float:right;
  box-sizing: border-box;
  color:#ffffff;
  margin-top: 35px;
  font-size: 16px;
  line-height: 18px;
}
.name{
  width:100px;
  float: right;
  margin-right: 15px;
}
.name a{
  text-decoration: none;
  color:#f1c77c;
}
.name a:hover{
  text-decoration: underline;
}
.name a:active
{
text-decoration: none;
color: #ee3643;
}
.backcharge{
  width:150px;
  float: left;
  margin-right: 35px;
}
.backcharge a{
  text-decoration: none;
  color:#f1c77c;
}
.backcharge a:hover{
  text-decoration: underline;
}
.backcharge a:active
{
text-decoration: none;
color: #ee3643;
}
.footer-social{
  float:left;
  color:#ffffff;
  margin-top: 37px;
}

.pop-up{
  margin-top: 100px;
  width:620px;
  height:430px;
  background-color: #fff;
  outline: 1px solid black;
  border-top: 7px solid #ee3643;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 45px;
  box-sizing: border-box;
  box-shadow: inset 0 -110px 0 0 #f1f1f1;
position: relative;
}
.fullname{
float: left;
}
.fullname label,
.email label{
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  padding-bottom: 12px;
}
.fullname input,
.email input{
  display: block;
  box-sizing: border-box;
  height: 36px;
  width: 220px;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  font-family: inherit;
  outline: none;
  background-color: inherit;
  color: rgba(0,0,0,0.5);
  padding-left: 17px;
 }
 .email{
  float: right;
 }
 .text-field{
   font-size: 13px;
   line-height: 18px;
   font-weight: bold;
   border-radius: 2px;
   rows:20;
   margin-bottom: 59px;

 }
 .text-field textarea{
   color: rgba(0, 0, 0, 0.5);
   width:150px;
 }
 .modal{
   float: left;
   width: 460px;
 }
 .pop-up::after{
 content: "";
 width:40px;
 height: 40px;
 position: absolute;
 right: 10px;
 top:10px;
 background: url(../img/Cross.png) no-repeat;
}
.pop-up_2{
  margin-top: 100px;
  width:620px;
  height:285px;
  background-color: #fff;
  outline: 1px solid black;
  border-top: 7px solid #ee3643;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 45px;
  box-sizing: border-box;
  box-shadow: inset 0 -110px 0 0 #f1f1f1;
position: relative;
}
.pop-up_2 span{
  font-size: 30px;
  line-height: 18px;
  font-weight: bold;
  vertical-align: middle;
  padding-left: 79px;
}
.pop-up_2 span::after{
  content: "";
  width:40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top:10px;
  background: url(../img/Cross.png) no-repeat;
 }
 .pop-up_2 span::before{
   content: "";
   width:70px;
   height: 70px;
   position: absolute;
   left: 60px;
   top:20px;
   background: url(../img/checkmark.png) no-repeat;
  }
  .pop-up_2 .main-button{
    width: 220px;
    margin-top: 137px;
  }
  .sign{
    float:left;

  }
  .proceed{
  float: right;
  background-color: #fff;
  color: #000;
  }
