@font-face {
  font-family: Cuprum;
  src: url(../fonts/cuprum.woff) format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Cuprum;
  src: url(../fonts/cuprumitalic.woff) format('woff');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: Cuprum;
  src: url(../fonts/cuprumbold.woff) format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/ptsans.woff) format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/ptsansbold.woff) format('woff');
  font-style: normal;
  font-weight: bold;
}
html,
body{
 min-width: 960px;
 min-width: 960px;
 font-size: 16px;
 line-height: 1.5;
 font-family: "Cuprum", "Arial", sans-serif;
 color: #000;
}
.main-header{
  background-color: #f1f5f7;
    padding-bottom: 64px;
}
.container{
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  position: relative;
}
.clearfix::after{
  content:"";
  display: block;
  clear: both;
}
.header-bar{
  background-color: #293449;
  color: #fff;
}
.header-logo{
  width: 220px;
  color: inherit;
  text-decoration: none;
  font-size: 24px;
  line-height: 1;
  padding-top: 11px;
  box-sizing: border-box;
  text-align: center;
  background-color: #ee3643;
  text-transform: uppercase;
  box-shadow: 0 5px 0 #b52933;
}
footer .header-logo{
  min-height: 63px;
  color:#fff;
  padding-top: 18px;
}
.header-logo:hover{
  background-color: #ca2c37;
  box-shadow: 0 5px 0 #9a212a;
}
.header-logo:active{
  background-color: #ba2732;
  box-shadow: 0 5px 0 #8e1e26;
}
.header-search{
  width: 270px;
}
.header-search input{
  height: 100%;
  width: 100%;
  border: none;
  padding: 12px 10px 12px 49px;
  line-height: 18px;
  font-size: 17px;
  font-family: inherit;
  outline: none;
  background-color: inherit;
  color: inherit;
  position: relative;
  background-image: url(../img/.icon-search-focus.png) no-repeat center;
 }
 }
 .header-search input::-webkit-input-placeholder {
  color: #fff;
}
.header-search input::-moz-placeholder {
  color: #fff;
}
.header-search input::-ms-input-placeholder {
  color: #fff;
}
.header-search input:hover{
  background-color: #212a3a;
}
.header-search input:focus{
  background-color: #ffffff;
  color:#000000;
}
.header-search input:focus::-webkit-input-placeholder {
 color: #333333;
 color:#000000;
}
.header-search input:focus::-moz-placeholder {
 color: #333333;
 color:#000000;
}
.header-search input:focus::-ms-input-placeholder {
 color: #333333;
 color:#000000;
}
.header-logo,
.header-favorite,
.header-search,
.header-cart,
.header-order{
 float: left;
 height:42px;
}
.header-favorite,
.header-cart,
.header-order{
  display: block;
  box-sizing: border-box;
  width: 150px;
  text-decoration: none;
  color: inherit;
  padding-top: 12px;
  padding-left: 12px;
  font-size: 17px;
  line-height: 18px;
}
.header-favorite{
  padding-right: 10px;
  padding-left: 45px;
}
.header-cart{
  padding-right: 10px;
  padding-left: 50px;
}
.header-favorite:hover,
.header-cart:hover{
  background-color: #212a3a;
  color: rgba(255, 255, 255, 0.6);
}
.header-favorite:active,
.header-cart:active{
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}
.header-order{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: #63a63e;
}
.header-order:hover{
  background-color: #5fbb2d;
  color: rgba(255, 255, 255, 0.51);
}
.header-order:active{
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}
.user-plate{
  display: inline-block;
  margin-left: 0px;
  margin-top: 46px;
}
.user-plate .user-name{
  display: block;
  text-decoration: none;
  color:black;
}
.user-plate .orders{
  display: inline-block;
}
.user-plate .cabinet{
  display: inline-block;
}
.header-content{
  display: flex;
  margin-top: 46px;
  align-items: flex-start;
  background-color: #f1f5f7;
}
.auth{
  font-size: 0px;
  margin-left: auto;
}
.header-description{
  margin-top: 3px;
  margin-bottom: 0;
  width: 320px;
  padding-left: 53px;
  padding-right: 63px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.4375;
  font-style: italic;
  color: #ee3643;
}
.header-contact{
  width: 270px;
  text-align: center;
}
.header-phone{
  display: block;
  padding: 9px 0 9px 22px;
  font-size: 21px;
  line-height: 1;
  color: #e9292a;
  text-decoration: none;
  border: 3px solid #fff;
  box-sizing: border-box;
}
.header-address{
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.signed{
  width: 300px;
  position: relative;
  margin-left: auto;
}

.user-data{
  font-size: 21px;
  background-color: #fff;
  line-height: 1;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 48px;
  box-sizing: border-box;
  margin-bottom: 10px;
  position: relative;
  margin-right: 45px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sign-out{
  position: absolute;
  width: 45px;
  height:45px;
  top:0px;
  right:0px;
  background-color: #fff;
}
.user-data::before{
   content: "";
   position: absolute;
   width: 20px;
   height: 18px;
   top: 13px;
   left: 14px;
   background:url(../img/.icon-user.png)  no-repeat center top ;
}
.sign-out::before{
   content: "";
   position: absolute;
   width: 21px;
   height: 17px;
   top: 14px;
   left: 14px;
   background:url(../img/.icon-logout.png)  no-repeat center top ;
}
.user-data::after{
   content: "";
   position: absolute;
   width: 10px;
   height: 10px;
   top: 65px;
   right: 183px;
   background:url(../img/Shape.png)  no-repeat center top ;
 }
.user-link{
color: #32425c;
box-sizing: border-box;
line-height: 18px;
}
.ordered{
margin-left: 18px;
}
.dot{
  width:5px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #32425c;
  margin-left: 11px;
  margin-right: 11px;
}
.header-login,
.header-register{
  padding: 12px 24px;
  font-size: 21px;
  line-height: 1;
  background-color: #fff;
  color: #000;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}
.header-nav{
  min-height: 55px;
  margin-top: 39px;
  box-shadow: 0 5px 0 #293449;
}
.header-nav ul{
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style: none;
  font-size: 0;
  display: flex;
  box-sizing: border-box;
  background-color: #32425c;
  }
.header-nav li{
  vertical-align: top;
  list-style: none;
  font-size: 17px;
  line-height: 17px;
  box-sizing: border-box;
}
.header-nav a{
  text-decoration: none;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 19.5px;
  padding-bottom: 19.5px;
  color: #ffffff;
}
.header-nav a:hover{
  background-color: #293449;
}
.header-nav a:active{
  background-color: #1d2739;
  color: #8e939c;
}

.main-layer{
  background-color: #ffffff;
}
.features{
  font-size: 24px;
  padding-bottom: 33px;
  margin-top: 61px;
}
.feature{
  width:300px;
  min-height: 123px;
  color: black;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 17px;
  padding-left: 23px;
  float: left;
  box-sizing: border-box;
  color: #fff;
}
.feature b{
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum";
  font-weight: bold;
}
.feature-item-1{
  background-color: #f6b22d;
  position: relative;
}
.feature-item-1::after{
  content: "";
  width:44px;
  height: 65px;
  position: absolute;
  right: 43px;
  top:30px;
  background: url(../img/item1.png) no-repeat;
}
.feature-item-1::before{
  content: "";
  width:60px;
  height: 59px;
  position: absolute;
  right: 0px;
  top:0px;
  background: url(../img/new.png) no-repeat;
}
.feature-item-2{
  background-color: #4aafde;
  position: relative;
}
.feature-item-2::after{
  content: "";
  width:75px;
  height: 61px;
  position: absolute;
  right: 29px;
  top:33px;
  background: url(../img/item-2.png) no-repeat;
}
.feature-item-3{
  background-color: #cc79d1;
  margin-right: 0px;
}
.feature-item-3::after{
  content: "";
  width:78px;
  height: 62px;
  position: absolute;
  right: 42px;
  top:30px;
  background: url(../img/item-3.png) no-repeat;
}
.feature-item-4{
  width: 620px;
  height: 266px;
  float: left;
  margin-right: 20px;
  background-color: #85d179;
  padding-top: 0px;
  padding-left: 0px;
  position: relative;
}

.first{
  width: 620px;
  height: 266px;
  padding-top: 25px;
background:url(../img/builder.jpg)  no-repeat center top ;
position: relative;
z-index: 1;
}
.first h2{
  text-transform: uppercase;
  color: #fff;
  display: block;
  width: 217px;
  line-height: 15px;
  padding-bottom: 10px;
  margin-left: 23px;
  margin-top: 8px;
  margin-bottom: -5px;
}
.first span{
display: inline-block;
  font-size: 18px;
  line-height: 24px;
  margin-left: 26px;
  font-family: "PT Sans";
  font-weight: 400;
}

.previous::after{
 content: "";
 position: absolute;
 width: 22px;
 height: 40px;
 top: 115px;
 left: 27px;
 background:url(../img/.icon-left.png)  no-repeat center top ;
}
.previous::before{
 content: "";
 position: absolute;
 width: 22px;
 height: 40px;
 top: 115px;
 right: 20px;
 background:url(../img/.icon-right.png)  no-repeat center top ;
}
.curent-circle::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
left:290px;
top:220px;
  right: 30px;
  background:url(../img/slider-indicator.png)  no-repeat center top ;
}
.circle::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
left:310px;
top:219.5px;
  right: 30px;
  background:url(../img/slider-dots.png)  no-repeat center top ;
}
.btn-slider{
  width: 196px;
  height: 38px;
  background-color: #ee3643;
  box-sizing: border-box;
  position: absolute;
  left:25px;
  bottom: 45px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "Cuprum";
  font-weight: 400;
  font-size: 14px;
  padding-top: 9px;
  padding-left: 49px;
  line-height: 18px;
  border-radius: 2px;
}
.first .btn:hover{
background-color:#ca2c37;
color: #f8e3e4;
}
.first .btn:active{
  background-color:#ba2732;
  color: #e3a9ad;
}
.second{
  width: 620px;
  height: 266px;
  position: absolute;
  top: -291px;
  padding-top: 25px;
  background:url(../img/builder-2.jpg)  no-repeat center top ;
  position: relative;
  z-index: 2;
  visibility:hidden;
}
.second h2{
  text-transform: uppercase;
  color: #fff;
  display: block;
  width: 217px;
  line-height: 15px;
  padding-bottom: 10px;
  margin-left: 23px;
  margin-top: 8px;
  margin-bottom: -5px;
}
.second span{
  display: inline-block;
    font-size: 18px;
    line-height: 24px;
    margin-left: 26px;
    font-family: "PT Sans";
    font-weight: 400;
}
.second .btn:hover{
background-color:#ca2c37;
color: #f8e3e4;
}
.second .btn:active{
  background-color:#ba2732;
  color: #e3a9ad;
}
.feature-item-5{
  background-color: #85d179;
  margin-right: 0px;
  position: relative;
}
.feature-item-5 b::after{
  content: "";
  width:59px;
  height: 72px;
  position: absolute;
  right: 43px;
  top:26px;
  background: url(../img/item-5.png) no-repeat;
}
.feature-item-6{
  position: relative;
  background-color: #f6b22d;
  margin-right: 0px;
  margin-right: 0px;
}
.feature-item-6 b::after{
  content: "";
  width:78px;
  height: 63px;
  position: absolute;
  right: 30px;
  top:33px;
  background: url(../img/item-6.png) no-repeat;
}
.feature b{
box-sizing: border-box;
}
.feature .btn{
  display: block;
  margin-top: 4px;
  padding-top: 11px;
  box-sizing: border-box;
  width: 135px;
  min-height: 38px;
  background-color:rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum";
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  border-radius: 2px;
}
.feature .btn:hover{
background-color:rgba(0, 0, 0, 0.2);
}
.feature .btn:active{
background-color:rgba(0, 0, 0, 0.3);
}

.item-header{
  background-color: #f7f3ec;
  color: rgba(0,0,0,0.7);
  padding-top: 24px;
  padding-left: 30px;
  padding-right: 26px;
  position: relative;
  margin-bottom: 4px;
}
.item-header h3{
  display: inline-block;
  font-family: "Cuprum";
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: -2px;
}
.main-button{
  box-sizing: border-box;
  float: right;
  vertical-align: top;
  display: inline-block;
  font-family: "Cuprum";
  font-weight: 400;
  background-color: #ee3643;
  text-decoration: none;
  color:#ffffff;
  width:254px;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: -3px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: 1px;
  margin-right: -3px;
}
.main-button:hover{
background-color:#ca2c37;
color: #f8e3e4;
}
.main-button:active{
  background-color:#ba2732;
  color: #e3a9ad;
}
.pro{
  margin-top: 25px;
  padding-bottom: 85px;
}
.producers{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -12px;
}
.producer-block{
  height:145px;
  width:220px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border:1px solid rgba(0, 0, 0, 0.1);
}
.producer-block img{
align-self: center;
}
.producer-block:hover{
  box-shadow: 0px 10px 25px -5px rgba(41, 52, 73, 0.5);
}
.producer-block:active{
opacity: 0.5;
box-shadow: -4px 4px 25px -8px rgba(41, 52, 73, 0.5)

}
.service{
  color: black;
  background-color: #f2f6f8;
}
.service .container{
  min-height: 522px;
}
.advert{
  float:left;
  width:360px;
  margin-right: 10px;
  margin-top: 29px;
}
.advert h3{
  font-family: "Cuprum";
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 27px;
  margin-bottom: 20px;
}
.advert p{
  font-family: "Cuprum";
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}
.cervice-list{
  float:left;
  clear: right;
  clear: left;
  min-width:240px;
  margin-top: 51px;
}
.cervice-list a{
  box-sizing: border-box;
  background-color: #32425c;
  color: #fff;
  min-height: 62px;
  font-size: 21;
  line-height: 30px;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  box-shadow: inset -30px 0 50px -30px #000;
  text-decoration: none;
  display: block;
  padding-left: 24px;
  padding-top: 11px;
}

.cervice-list .active{
  background-color: #fff;
  color: #32425c;
  border-bottom: none;
  border-top: none;
  box-shadow: inset -30px 0 50px -40px #000;
}
.cervice-list a:hover{
background-color: #293449;
border-bottom: 1px solid #293449;
border-right:none;
}
.cervice-list .active:hover{
background-color: #fff;
border-bottom: 0px;
}
.delivery{
  float:left;
  width: 249px;
  margin-left: 80px;
  font-size: 13px;
  line-height: 24px;
  margin-top: 47px;
}
.delivery h2{
  font-family: "Cuprum";
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  color:#32425c;
}
.delivery p{
  font-family: "Cuprum";

  font-size: 13px;
  line-height: 24px;
}
.image{
  float: left;
  position: absolute;
  right: 10px;
  bottom: -5px;
}
.about-us{
float:left;
color: black;
width:450px;
font-size: 13px;
line-height: 24px;
}
.about-us h2{
  font-family: "Cuprum";
  font-weight: "Regular";
  font-size: 30px;
  text-transform: uppercase;
}
.about-us ul{
  margin: 0;
  padding: 0;
}
.about-us li{
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  padding-left: 36px;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
}
.about-us li::before{
  content: "";
  position: absolute;
  top: 15px;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color:#fb565a;
}
.details{
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  margin-top: 31px;
  margin-bottom: 85px;
  background-color: #ee3643;
  text-decoration: none;
  color:#ffffff;
  width:254px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 7px;
  border-radius: 2px;
}
.details:hover{
background-color:#ca2c37;
color: #f8e3e4;
}
.details:active{
  background-color:#ba2732;
  color: #e3a9ad;
}
.map{
  float:right;
  margin-top:0;
  color: black;
  font-size: 13px;
  line-height: 24px;
}
.map h2{
  font-family: "Cuprum";
  font-weight: "Regular";
  font-size: 30px;
  text-transform: uppercase;
}
.map .details{
  margin-top: 29px;
  width:300px;
}
.breadcrumbs{
  font-size: 0;
  position: relative;
  box-sizing: border-box;
  padding-top: 2px;
  padding-left: 12px;
}
.breadcrumbs a{
  box-sizing: border-box;
color: #222222;
display: inline-block;
font-family: "PT Sans";
font-weight: 400;
font-size: 13px;
line-height: 18px;
text-transform: uppercase;
text-decoration: none;
padding-right: 39px;
position: relative;
height: 60px;
padding-top: 19px;
}
.breadcrumbs a::after{
  content: "";
  position: absolute;
  top: 22.5px;
  right: -5px;
  width: 30px;
  height: 30px;
  background: url(../img/.icon-right.png) no-repeat;
}
.breadcrumbs a:first-child{
  background: url(../img/..icon-home.png) no-repeat center;
}
.breadcrumbs span{
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans";
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 4px;
}

.container h1{
  display: block;
  margin-top: -10px;
  color: black;
  background-color: #f2f6f8;
  height:88px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 26px;
  padding-left: 28px;
  box-sizing: border-box;
  color: #32425c;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  box-sizing: border-box;
}
.aside-left{
  float: left;
  width: 220px;
  margin-top: 20px;
}
.header-left{
  height: 40px;
  background-color: #f7f3ec;
  margin-top: -20px;
  color: black;
}
.range-filter{
    padding-top:10px;
    width:220px;
    margin:auto;
    margin-bottom:10px;
}
.range-controls{
    position:relative;
    height:80px;
    margin-bottom:9px;
    padding:0 30px;
    background:#f7f3ec;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow:hidden;
    margin-top: -16px;
}
.scale{
    margin-top:39px;
    height:2px;
    background:#d7dcde;
    width: 171px;
}
.bar{
    height:2px;
    background:#00ca74;
    position: relative;
    left:-43px;
}
.toggle{
    position:absolute;
    top:30px;
    left:10px;
    width:4px;
    height:4px;
    border:8px solid white;
    background:rgba(0,0,0,0.1);
    cursor:pointer;
    border-radius:50%;
}
.min-toggle{
    left:21px;
}
.max-toggle{
    left:162px;
}
.price-controls{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 27px;
}
.min-price,
.max-price{
    width:75px;
    padding:7px 13px;
    border:none;
    background:#f7f3ec;
    font-size:17px;
    line-height: 18px;
    font-family:"PT Sans";
    font-weight: 400;
    text-align:center;
    color:#283136;
    color:#000;
    box-sizing: border-box;
}
.min-price{
  width: 96px;
  border-radius:1px;
  padding-left: 17px;
}
.max-price{
  width: 94px;
  border-radius:1px;
  padding-left: 12px;

}
fieldset {
  border: transparent;
margin-left: 0;
margin-top: 10px;
padding-left: 0;
padding-top: 10px;
box-sizing: border-box;
padding-top: 20px;
padding-bottom: 0px;
margin-bottom: -4px;
}
fieldset legend {
color: #000000;
font-size: 17px;
line-height: 30px;
text-transform: uppercase;
font-family: "PT Sans";
font-weight: bold;
}
.checkbox-layer{
  padding-bottom: 12px;
  margin-bottom: 19px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.checkbox{
  position: relative;
 box-sizing: border-box;
}
.checkbox-area{
margin-top: -17px;
}
.checkbox input{
 overflow: hidden;
 position: absolute;
 border:0;
 clip-path:inset(100%);
 rect:(0 0 0 0);
}
.checkbox label{
display: inline-block;
 padding-left: 34px;
 text-transform: uppercase;
 font-family: PT Sans;
 font-weight: 400;
 font-size: 15px;
 line-height: 20px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.checkbox label::before{
content: "";
position: absolute;
top: 12px;
left: 3px;
width: 17px;
height: 17px;
margin-right: 8px;
vertical-align: middle;
border: 1px solid #ffffff;
box-shadow: 0 0 0 3px #bdc3c7;
border-radius: 2px;
box-sizing: border-box;
}
.checkbox label::after{
content: "";
position: absolute;
visibility: hidden;
top: -2px;
left: -4px;
width:40px;
height:40px;
background:url(../img/Checkmark-20.png) no-repeat center;
}
.checkbox input:checked+label::after{
  visibility: visible;
}
.checkbox label:hover{
  opacity: 0.8;
}
.checkbox label:active{
  opacity: 0.5;
}
input[type="checkbox"]:disabled + label{
  opacity: 0.4;
}
.source{
  color: #000000;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "PT Sans";
  font-weight: bold;
  letter-spacing: 0.5px;
  }
  .radio-area{
    margin-top: -18px;
  }
.radio{
  box-sizing: border-box;
  position: relative;
}
.radio input{
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border:0;
  clip-path:inset(100%);
  rect:(0 0 0 0);
}
.radio label{
display: inline-block;
 padding-left: 34px;
 text-transform: uppercase;
 font-family: PT Sans;
 font-weight: 400;
 font-size: 14px;
 line-height: 20px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.radio label::before{
content: "";
position: absolute;
box-sizing: border-box;
top: 12px;
left: 3px;
width: 17px;
height: 18px;
margin-right: 8px;
vertical-align: middle;
border: 3px solid #ffffff;
box-shadow: 0 0 0 3px #bdc3c7;
border-radius: 50%;
}
.radio label::after{
content: "";
position: absolute;
visibility: hidden;
top: 16px;
left: 7px;
width:9px;
height:9px;
background-color: #bdc3c7;
border-radius: 50%;
}
.radio input:checked+label::after{
  visibility: visible;
}
.radio label:hover{
  opacity: 0.8;
}
.radio label:active{
  opacity: 0.5;
}
input[type="radio"]:disabled + label{
  opacity: 0.4;
}
fieldset:last-child{
  padding-bottom: 0px;
}
.dispatch{
  box-sizing: border-box;
  background-color: inherit;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 73px;
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-color: rgba(0, 0, 0, 0.2);
}
.aside-right{
  float:right;
  width: 700px;
  margin-top: 20px;
}
.sub-aside{
  background-color: #f7f3ec;
  display: flex;
  justify-content:flex-start;
  height: 38px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;

}
.sub-aside a{
  text-decoration: none;
  padding-top: 10px;
  height: 15px;
}
.sort-bar{
 padding-left: 19px;
 padding-right: 30px;
 padding-top: 8px;
 padding-bottom: 10px;
 margin-right: 110px;
 font-family: "PT Sans";
 font-weight: 400;
 font-style: 13px;
}
.sub{
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.price{
 margin-right: 70px;
 color:red;
 padding-top: 8px;
 font-family: "PT Sans";
 font-weight: 400;
 font-size: 13;
 line-height: 18px;

}
.type{
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 13;
  line-height: 18px;
  font-weight: 400;
  margin-right: 66px;
  margin-top: -2px;
  box-sizing: border-box;
  min-height: 28px;
  border-bottom: 2px #ee3643 dotted;
}
.function{
  font-family: "PT Sans";
  font-weight: 400;
  margin-top: -2px;
  margin-right: 38px;
  border-bottom: 2px #ee3643 dotted;

}
.triangle{
  display: inline-block;
  margin-right: 40px;
  margin-right: 10px;
  position: relative;

}
.sort-up{
border: transparent;
  display: inline-block;
  height: 40px;
  width:20px;
  margin-right: 15px;
  margin-top: 5px;

}
.sort-down{
  display: block;
  height: 40px;;
  width:20px;
  margin-top: 5px;
  position: relative;
  margin-right: 5px;
}
.sort-up::after{
 content: "";
 position: absolute;
 top: -1px;
 right: -1px;
 border-top:9px solid transparent;
 border-left: 6.5px solid transparent;
 border-bottom: 10px solid #ee3643;
 border-right: 6.5px solid transparent;
}
.sort-down::after{
  content: "";
position: absolute;
top: 7px;
right:3px;
border-top:10px solid #c6c2bd;
border-left: 6.5px solid transparent;

border-right: 6.5px solid transparent;
}
.sub-aside .type:hover,
.sub-aside .function:hover{
 color:#000000;
 border-bottom: 2px #ee3643 solid;
}
.sub-aside a:active{
 color:#ee3643;
 text-decoration: none;
}
.catalog-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-item{
  margin-top: 19px;
  position: relative;
  border: 1px solid #e5e5e5;
  width:220px;
  height: 318px;
  z-index: 1;
  box-sizing: border-box;
  padding-top: 28px;
  padding-right: 30px;
  padding-left: 2px;
}
.catalog-item a{
  position: relative;
}
.small-drill-first-column{
  margin-left: 39px;
  margin-top: 0px;
}
.small-drill-last-column{
  margin-left: 31px;
  margin-top: 1px;
}
.big-drill{
margin-top: -7px;
margin-left: 26px;
}
.drill-sign {
 display: inline-block;
 font-size: 18px;
 line-height: 20px;
 width: 160px;
 text-align: center;
 font-family: "PT Sans";
 font-weight: bold;
}
.first-column{
  margin-left: 26px;
  margin-top: 33px;
}
.middle{
  margin-left: 27px;
  margin-top: 23.5px;
}
.last-column{
 margin-left:27px;
 margin-top: 32.5px;
}
.catalog-item span{
  display: block;
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  padding-top: 0px;
  margin-top: -5px;
  padding-left: 40px;
  padding-right: 9px;
  text-align: center;
  text-decoration: line-through;
  opacity: 0.5;
}
.actual{
  position: relative;
  display: block;
  box-sizing: border-box;
  margin-top: 9px;
  width: 122px;
  height: 38px;
  background-color: #ee3643;
  margin-left: 40px;
  border-bottom-left-radius:2px;
  border-top-left-radius: 2px;
  padding-top: 12.2px;
  padding-left: 36px;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans";
  font-weight: bold;
}
.bfg-2000{
 margin-top: 19px;
}
.actual::after{
  content: "";
  position: absolute;
  top: 0px;
  right: -17px;
  border-top:19.5px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 18px solid #ee3643;
}
.marked::after{
  content: "";
  width:65px;
  height: 65px;
  position: absolute;
  right: -5px;
  top:0px;
  background: url(../img/new-flag.png) no-repeat;
  }
.choice{
  display: inline-block;
  border-radius: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 18px;
  text-transform: uppercase;
}
.top{
  margin-bottom: 12px;
  background-color: #63a63e;
  padding-left: 49px;
  padding-top: 11px;
  padding-right: 46px;
  color:#fff;
  border:none;
  border-bottom: 3px solid #367315;
  position: absolute;
  top:46px;
  left:38px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum";
  font-weight: 400;
}
.top::before{
  content:"";
  width: 16px;
  height: 17px;
  background: url(../img/.icon-basket.png) no-repeat center;
  position: absolute;
  left:13px;
  top:10px;
}
.top:hover{
  background: #5fbb2d;
}
:hover.top::before{
  content:"";
  width: 16px;
  height: 17px;
  background: url(../img/.icon-basket-2.png) no-repeat center;
  position: absolute;
  left:13px;
  top:10px;
}
.bottom:hover{
  border-color:#32425c;
}
.catalog-item:hover{
  box-shadow: 0px 10px 25px -5px rgba(52, 73, 94, 0.5);;
}
.top:active{
  background: #518534;
  border-color: #518534;
}
.bottom:active{
  opacity: 0.5;
}
.top::before:hover{
  opacity: 0.5;
}
.bottom{
  display: inline-block;
  padding-left: 32px;
  padding-top: 10px;
  padding-right: 29px;
  background-color: #ffffff;
  border:3px solid #63a63e;
  position: absolute;
  top:91px;
  left:39px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum";
  font-weight: 400;
}
.custom-card{
  top:-316px;
  z-index: 2;
  background-color: red;
  width: 216px;
  height: 170px;
  background-color: #ffffff;
  position: relative;
  padding-left: 42px;
  box-sizing: border-box;
  visibility:hidden;
}
article:hover .custom-card {
  visibility: visible;
}
.paginator {
  width: 300px;
  margin-left: -10px;
  margin-top: 42px;
  margin-bottom: 60px;
  padding: 10px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.paginator a,
.paginator span {
  display: inline-block;
  min-width: 16px;
  height: 38px;
  border-radius: 2px;
  padding: 0 10px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  text-decoration: none;
  color: #222222;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
.paginator .curent{
  background-color: #ee3643;
  color: #fff;
  border-color: transparent;
  margin-right: 7px;
}
.paginator a{
  margin-right: 6px;
}
.paginator a:last-child{
  padding-left: 32px;
  padding-right: 29px;
}
.paginator a:hover{
  border-color: rgba(0, 0, 0, 0.2);
}
.paginator a:active{
border-color: rgba(255, 0, 0, 1);
}
.about{
  background-color: #f2f6f8;
  padding-top: 80px;
  padding-bottom: 56px;
}
.about h2{
  font-family: "Cuprum";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 24px;
  margin-top: -21px;
  margin-left: 1px;
  margin-bottom: 27px;
}
.about p{
  font-size: 14px;
  line-height: 24px;
  font-family: "Cuprum";
  font-weight:400;
}
.footer-top{
  background-color: #32425c;
}
.layout-left{
  float:left;
  width: 300px;
}
.layout-right{
  float:right;
  width: 570px;
}
.layout-left a{
  float: left;
}
.footer-contacts{
  float: left;
  color:#ffffff;
  width:350px;

  margin-top:30px;
  font-size: 18px;
  line-height: 24px;
}
.footer-top-list{
  float: right;
  margin-top: 35px;
}
.footer-top-list a{
  text-decoration: none;
    color:#ffffff;
    margin-right: 55px;
    font-size: 18px;
    line-height: 24px;
}
.footer-top-list a:last-child{
  margin-right: 0px;
}
.footer-top-list a:hover{
  text-decoration: underline;
}
.footer-top-list a:active
{
text-decoration: underline;
color: rgba(255, 255, 255, 0.5);
}

.footer-bottom-list{
float: right;
margin-top: 35px;
margin-bottom: 73px;
}
.footer-bottom-list a{
  text-decoration: none;
    color:#bba174;
      margin-right: 55px;
      font-size: 18px;
      line-height: 24px;
}
.footer-bottom-list a:last-child{
  margin-right: 0px;
}
.footer-bottom-list a:hover{
  text-decoration: underline;
}
.footer-bottom-list a:active
{
text-decoration: underline;
color: rgba(187, 161, 116, 0.5);
}
.footer-bottom{
  background-color: #293449;
}
.social-btn{
  border-bottom: 18px solid #212a3a;
  border-right: 41px solid #212a3a;
  border-radius: 50%;
  margin-right: -63px;
  margin-left: 68px;
  margin-top: 15px;
  position: relative;
}
.social-btn-vk::before{
  content: "";
  width:40px;
  height: 40px;
  position: absolute;
  right: -50px;
  top:14px;
  background: url(../img/.icon-vk.png) no-repeat;
}
.social-btn-fb::before{
  content: "";
  width:40px;
  height: 40px;
  position: absolute;
  right: -53px;
  top:8px;
  background: url(../img/.icon-facebook.png) no-repeat;
}
.social-btn-inst::before{
  content: "";
  width:40px;
  height: 40px;
  position: absolute;
  right: -52px;
  top:9px;
  background: url(../img/.icon-instagramm.png) no-repeat;
}
.footer-copyright{
  float:left;
  color:#ffffff;
  font-size: 16px;
  line-height: 18px;
  margin-top: 37px;
  margin-bottom: 35px;
  margin-right: 100px;

}
.developer{
  float:right;
  box-sizing: border-box;
  color:#ffffff;
  margin-top: 35px;
  font-size: 16px;
  line-height: 18px;
}
.name{
  width:100px;
  float: right;
  margin-right: 15px;
}
.name a{
  text-decoration: none;
  color:#f1c77c;
}
.name a:hover{
  text-decoration: underline;
}
.name a:active
{
text-decoration: none;
color: #ee3643;
}
.backcharge{
  width:150px;
  float: left;
  margin-right: 35px;
}
.backcharge a{
  text-decoration: none;
  color:#f1c77c;
}
.backcharge a:hover{
  text-decoration: underline;
}
.backcharge a:active
{
text-decoration: none;
color: #ee3643;
}
.footer-social{
  float:left;
  color:#ffffff;
  margin-top: 37px;
}

.pop-up{
  margin-top: 100px;
  width:620px;
  height:430px;
  background-color: #fff;
  outline: 1px solid black;
  border-top: 7px solid #ee3643;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 45px;
  box-sizing: border-box;
  box-shadow: inset 0 -110px 0 0 #f1f1f1;
  position: relative;
}
.fullname{
float: left;
}
.fullname label,
.email label{
  display: block;
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 12px;
  font-family: "Cuprum";
  font-weight: regular;
}
.fullname input,
.email input{
  display: block;
  box-sizing: border-box;
  height: 33px;
  width: 220px;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  font-family: inherit;
  outline: none;
  background-color: inherit;
  color: rgba(0,0,0,0.5);
  padding-left: 17px;
  font-family: "PT Sans"
 }
 .email{
  float: right;
 }
 .text-field{
   font-size: 18px;
   line-height: 18px;
   border-radius: 2px;
   rows:20;
   margin-bottom: 59px;
   font-family: "Cuprum";
   font-weight: regular;

 }
 .text-field textarea{
   color: rgba(0, 0, 0, 0.5);
   width:150px;
   font-size: 13px;
   padding-left: 10px;
   padding-top: 10px;
 }
 .modal{
   float: left;
   width: 460px;
   margin-top: -20px;
   border: transparent;
 }
 .pop-up::after{
 content: "";
 width:40px;
 height: 40px;
 position: absolute;
 right: 10px;
 top:10px;
 background: url(../img/Cross.png) no-repeat;
}
.pop-up_2{
  margin-top: 100px;
  width:620px;
  height:285px;
  background-color: #fff;
  outline: 1px solid black;
  border-top: 7px solid #ee3643;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 45px;
  box-sizing: border-box;
  box-shadow: inset 0 -110px 0 0 #f1f1f1;
position: relative;
}
.pop-up_2 span{
  font-size: 30px;
  line-height: 18px;
  font-weight: bold;
  vertical-align: middle;
  padding-left: 79px;
}
.pop-up_2 span::after{
  content: "";
  width:40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top:10px;
  background: url(../img/Cross.png) no-repeat;
 }
 .pop-up_2 span::before{
   content: "";
   width:70px;
   height: 70px;
   position: absolute;
   left: 60px;
   top:20px;
   background: url(../img/checkmark.png) no-repeat;
  }
  .pop-up_2 .main-button{
    width: 220px;
    margin-top: 137px;
  }
  .sign{
    float:left;

  }
  .proceed{
  float: right;
  background-color: #fff;
  color: #000;
  }
